{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/agenda.css' %}?version=3">
    <title>Calculadora de Mercado</title>	

</head>

<body>
	<section class="col-l"></section>
	
	<div class="logout">
		<img id="icon-user" src="{% static 'img/icon-user.png' %}"/></a>
		<div id="user">
			<b id="user-name"> {{ user }} </b>
		</div>
		<div id="icon-logout">
			<a href="/logout">
				<img width="45px" src="{% static 'img/icon-logout.png' %}?version=3"/></a>
		</div>
	</div>
	
	<div class="header">
		<img id="icon-logo-small" src="{% static 'img/logo_appo_small_bkg.png' %}?version=2"/>
		Lista de Compras | Total: <a id="totProd" style="color: #e83e8c;"> 46,31 </a> 
	</div> 

	<div class="buttons">
		<a>
			<button class="bbtn" type="button">Lista Atual</button></a>
		<a href="http://127.0.0.1:8000/agenda/evento/">
			<button class="bbtn" type="button">Novo Ítem</button></a>
		<a href="http://127.0.0.1:8000/agenda/passado/">
			<button class="bbtn" type="button">Lista Passada</button></a>
		<a href="http://127.0.0.1:8000/agenda/todos/">
			<button class="bbtn" type="button">Lista Esposa</button></a>
		<a href="http://127.0.0.1:8000/exportar/exporta/" target="_blank">
			<button class="bbtn" type="button">Exportar Caixa</button></a>
	</div>
	
    <div class="title">
		<div id="title-date">Data/Horário</div>
		<div id="title-local">Usuário</div>
		<div id="title-detail">Descrição do Produto</div>
		<div id="title-event">Quantidade</div>
		<div id="title-action">Valor</div>
		<div id="title-action">Total</div>
		<div id="title-action">Ações</div>
	</div>

	
	<div class="main">	

		{% for evento in eventos %}
	
		<div id="main-date" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			{{ evento.get_data_evento }}</div>
		<div id="main-local" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			{{ evento.local }}</div>
		<div id="main-detail" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			{{ evento.descricao }}</div>
		<div id="main-event" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			1</div>
		<div id="main-event" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			{{ evento.titulo }}</div>
		<div id="main-event" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
			{{ evento.titulo }}</div>
		<div id="main-action">
			<a href="http://127.0.0.1:8000/agenda/evento/?id={{ evento.id }}">
				<img id="icon-edit" src="https://img.icons8.com/cotton/64/000000/edit--v1.png"/></a>
			<a href="http://127.0.0.1:8000/agenda/evento/delete/{{ evento.id }}">
				<img id="icon-delete" src="https://img.icons8.com/fluent/48/000000/delete-sign.png"/></a>
		</div>
		
		{% endfor %}
		
	</div>

	<section class="col-r"></section>
	 {% include "model-footer.html" %}
</body>
</html>