{% load static %}
<!DOCTYPE html>

<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>	
    <link rel="stylesheet" href="{% static 'css/login.css' %}?version=1">

</head>

<body>	
    <div class="logo">
		<div id="logo-img">
			<img width="80%" src="{% static 'img/logo_appo_big.png' %}"/>
		</div>
	</div>
	
	<div class="login">
		
		<form action="submit" method="POST"> {% csrf_token %}
			<label hidden>Senha:</label><br>
			<label id="form-label">Acessar Grupo</label><br>
				<input type="text" name="password" value="user12345" hidden><br>
				<label>Usuário:</label><br>
				<input type="text" name="username"><br>
				<label id="label-error">
					{% for message in messages %}
					<strong> {{ message }} </strong>
					{% endfor %}
				</label><br>
				
				<button class="bbtn" type="submit">Entrar</button><br><br>
				<img width="75%" id="icon-logo-small" src="{% static 'img/qrcode.png' %}?version=1"/>
				
		</form>
	
	</div>


	
 {% include "model-footer.html" %}

</body>
</html>