@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body, html {
   height: 100vh;
}

/* Mobile First */
body{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 4);
    grid-template-areas:
        "header"	
        "buttons"
        "main"
        "footer"
}

/* Cabeçalho da página */
.header{
    grid-area: header;
    background-color: #f0f0f5;
    font-size: 38px;
    font-weight: bold;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
    padding-top: 15px;
}

/* Logout do sistema */
.logout{
    grid-area: logout;
    background-color: #f0f0f5;
    text-align: right;
    padding-right: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.logout #user{
    padding-right: 20px;
    padding-top: 15px;
}    

#user-name{
    color: #e02041;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Botões */
.buttons{
    grid-area: buttons;
    background-color: #f0f0f5;
}

/* Rótulos das colunas */
.title{
    grid-area: title;
    background-color: #f0f0f5;
    display: grid;
    grid-template-columns: 13% 13% 35% 13% 10% 10% 5%;
    justify-content: start;
    padding-top: 5px;
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

/* Espaços de inícios dos titulos */
#title-date{
    text-align: center;
}
#title-event{
    text-align: left;
    padding-left: 20px;
}
#title-detail{
    text-align: left;
    padding-left: 2px;
}
#title-local{
    text-align: left;
}
#title-action{  
    text-align: center;
}

/* Seção principal de exibição dos registros */
.main {
    grid-area: main;
    background: white;
    height: 25px;
    display: grid;
    grid-template-columns: 13% 13% 35% 13% 10% 10% 5%;
    justify-content: start;
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

/* Espaços de inícios dos registros no main */
#main-date{
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px;
    border-bottom: solid #f0f0f5;
    padding-top: 5px;
    
}
#main-event{
    text-align: left;
    padding-left: 50px;
    border-bottom: 2px;
    border-bottom: solid #f0f0f5;
    padding-top: 5px;
}
#main-detail{
    text-align: left;
    padding-left: 2px;
    border-bottom: 2px;
    border-bottom: solid #f0f0f5;
    padding-top: 5px;
}
#main-local{
    text-align: left;
    border-bottom: 2px;
    border-bottom: solid #f0f0f5;
    padding-top: 5px;
}
#main-action{  
    text-align: center;
    border-bottom: 2px;
    border-bottom: solid #f0f0f5;
}   

/* Rodapé */
.footer{
    grid-area: footer;
    background-color: #f0f0f5;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-text{
    color: #007bff;
    font-size: 13px;
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.bbtn {
    width: 160px;
    height: 36px;
    background: #6610f2;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    margin-top: 23px;
    transition: background-color 400ms;
}

.bbtn:hover {
        opacity: 0.8;
}

.col-l{
    grid-area: col-l;
    background-color: #f0f0f5;   
}

.col-r{
    grid-area: col-r;
    background-color: #f0f0f5;   
}


/* Ícones */

#icon-edit{
    height: 22px;
    padding-top: 3px;
}
#icon-delete{
    height: 22px;
}
#icon-github{
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#icon-linkedin{
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.logout #icon-logout{
    padding-left: 10px;
    padding-top: 5px;
} 

.logout #icon-user{
    width: 25px;
    height: 25px;    padding-top: 8px ;
    padding-right: 5px ;
}


@media only screen and (min-width: 768px) {
    
    body{
        margin: 0;
        display: grid;
        grid-template-columns: auto 24% 24% 24% 24% auto;
        grid-template-rows: 10% 10% 5% auto 7%;
        grid-template-areas:
            "col-l   header  header  header  logout  col-r"
            "col-l   buttons buttons buttons buttons col-r"	
            "col-l   title   title   title   title   col-r"
            "col-l   main    main    main    main    col-r"    
            "col-l   footer  footer  footer  footer  col-r"    
    }
    
}